<h1>Weather#controller</h1>

<div class="place">
  <span class="place"><%= @data[10] %></span>
</div>

<div class="today">
  <span class="date"><%= @data[0]["date"] %></span>
  <span class="youbi"><%= @data[0]["day_of_the_week"] %></span>
  <span class="weatherAM3"><%= @data[0]["weatherAM3"] %></span>
  <span class="weatherAM9"><%= @data[0]["weatherAM9"] %></span>
  <span class="weatherPM3"><%= @data[0]["weatherPM3"] %></span>
  <span class="weatherPM9"><%= @data[0]["weatherPM9"] %></span>
  <span class="dailyrainprobability"><%= @data[0]["dailyrainprobability"] %></span>
  <span class="rainprobabilityAM3"><%= @data[0]["rainprobabilityAM3"] %></span>
  <span class="rainprobabilityAM9"><%= @data[0]["rainprobabilityAM9"] %></span>
  <span class="rainprobabilityPM3"><%= @data[0]["rainprobabilityPM3"] %></span>
  <span class="rainprobabilityPM9"><%= @data[0]["rainprobabilityPM9"] %></span>
</div>

<div class="weekly">
  <% for i in 1..9 do%>
    <div>
      <span class="date"><%= @data[i]["date"] %></span>
      <span class="youbi"><%= @data[i]["day_of_the_week"] %></span>
      <span class="weatherAM3"><%= @data[0]["weatherAM3"] %></span>
      <span class="weatherAM9"><%= @data[0]["weatherAM9"] %></span>
      <span class="weatherPM3"><%= @data[0]["weatherPM3"] %></span>
      <span class="weatherPM9"><%= @data[0]["weatherPM9"] %></span>
      <span class="dailyrainprobability"><%= @data[0]["dailyrainprobability"] %></span>
      <span class="rainprobabilityAM3"><%= @data[0]["rainprobabilityAM3"] %></span>
      <span class="rainprobabilityAM9"><%= @data[0]["rainprobabilityAM9"] %></span>
      <span class="rainprobabilityPM3"><%= @data[0]["rainprobabilityPM3"] %></span>
      <span class="rainprobabilityPM9"><%= @data[0]["rainprobabilityPM9"] %></span>
    </div>
  <% end %>
</div>
