
  <!----------------------   header?って言っていいんか分からんからとりあえずヘッダー   ---------------------->
  <div class="header">
    <div class="place">Shibuya</div>
  </div>


  <!----------------------   main   ---------------------->
  <div class="main">
    <div class="maincircle">
      <div class="pantscircle">
        <p class="pantscount-title">Pants Count</p>
        <p class="pantscount"><%= @item.current if @item.current != nil %></p>
        <div class="main-bottom">
          <img src="images/push.png" alt="洗濯完了！" class="washed">
          <img src="images/senzai.png" alt="洗剤" class="senzai">
          <img src="images/setting.png" alt="設定" class="setting">
        </div>
      </div>
    </div>
  </div>


  <!----------------------   weekly-weather   ---------------------->
  <div class="weekly-weather">
    <p class="weekly-weather-title">Weekly Weather</p>
    <div class="week-box">
      <% pants_count = @item.current if @item.current != nil %>
      <% for i in 1..9 do %>
      <li class="<%= i % 3 == 1 ? "orange" : i % 3 == 2 ? "yellow" : "blue" %>">
        <div class="week-left"><p><%= @data[i]["date"] %><br><%= @data[i]["day_of_the_week"] %></p></div>
        <div class="week-right">
          <p class="pants-will">Pants Count：<%= pants_count %></p><br>
          <% if @data[i]["weatherAM"] == "晴れ" %>
            <img src="images/tenki-icon-sunny.png" alt="am-wether">
          <% else @data[i]["weatherAM"] == "雨" %>
            <img src="images/tenki-icon-rain.png" alt="am-wether">
          <% end %>
            /
          <% if @data[i]["weatherPM"] == "晴れ" %>
            <img src="images/tenki-icon-sunny.png" alt="am-wether">
          <% else @data[i]["weatherPM"] == "雨" %>
            <img src="images/tenki-icon-rain.png" alt="am-wether">
          <% end %>
          <p><span>　 <%= @data[i]["rainprobability"]%></span>%</p>
        </div>
      </li>

      <% pants_count -= 1 if pants_count != nil %>
      <% pants_count < 0 ? pants_count = 0 : "" %>
      <% end %>

    </div>
  </div>


<button id="a">初期化</button>
<a href="/"><button>最初からもう一度試す</button></a>

<script type="text/javascript">
document.querySelector("#a").addEventListener("click", function() {
  localStorage.clear();
},false);
</script>
